<section class="fixed top-1/2 -translate-y-1/2 right-2.5 z-50">
  <nav
    class="text-white bg-gray-500/15 flex flex-col gap-2 items-center py-2.5 w-9 rounded-2xl
    hover:scale-120 hover:bg-gray-500/20 transition-transform"
  >
    <a
      class="hover:text-blue-500 hover:scale-125 transition-transform"
      href="#info"
    >
      <i class="fas fa-user"></i>
    </a>
    <a
      class="hover:text-yellow-500 hover:scale-125 transition-transform"
      href="#projects"
    >
      <i class="fas fa-star"></i>
    </a>

    <a
      class="hover:text-blue-500 hover:scale-125 transition-transform"
      href="#certificate"
    >
      <i class="fa-solid fa-certificate"></i>
    </a>

    <a
      class="hover:text-gray-500 hover:scale-125 transition-transform"
      href="#tech"
    >
      <i class="fa-solid fa-wrench"></i>
    </a>

    <a
      class="hover:text-green-500 hover:scale-125 transition-transform"
      href="#terminal"
    >
      <i class="fas fa-terminal"></i>
    </a>
  </nav>
</section>
