<section class="flex justify-between w-full">
  <div>
    <i class="fas fa-terminal text-white"></i>
    <span class="bg-sky-500 inline-block rounded-full size-3"></span>
  </div>
  <div class="text-white text-[13px]">Konsole</div>
  <div>
    <span class="inline-block size-3 bg-yellow-500 rounded-full"></span>
    <span class="inline-block size-3 bg-green-500 rounded-full"></span>
    <span class="inline-block size-3 bg-red-500 rounded-full"></span>
  </div>
</section>
