<div class="group col-span-4 m-auto relative">
  <img
    src="/img/bandera.webp"
    alt="adorno"
    class="absolute w-7 bottom-0 right-0 rounded-[4px] md:right-[2vw] md:bottom-[1vw] lg:bottom-[1vw] z-10"
  />
  <img
    src="/img/Profile.jpg"
    alt="David"
    class="opacity-100 absolute group-hover:opacity-0 size-25 rounded-full md:size-[22vw] lg:md:size-56"
  />
  <img
    src="/img/Profile2.webp"
    alt="David"
    class="opacity-0 group-hover:opacity-100 size-25 rounded-full md:size-[22vw] lg:md:size-56"
  />
</div>
